<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/book/main">팔만고전경판</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/book/notice">공지사항 <span class="sr-only">(current)</span></a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/book/minum" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          출판사
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/book/minum">민음사</a>
          <a class="dropdown-item" href="/book/openbooks">열린책들</a>
          <a class="dropdown-item" href="/book/eulyoo">을유 문화사</a>
          <a class="dropdown-item" href="/book/penguin">펭귄 클래식</a>
          <a class="dropdown-item" href="/book/munhak">문학 동네</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="/book/search">검색</a>
      <a class="nav-item nav-link" href="/book/community">커뮤니티</a>
      <a class="nav-item nav-link disabled" href="/book/maker">만든이</a>
    </div>
  </div>
</nav>

<center>
  <br><br>
<form action="/search_result">
<table class="table table-borderless" style="width: 800px;">
  <tbody>
    <tr>
      <th scope="row" width=100 height=10><center><font color="gold">검색</center></th>
      <td><center><input type="text" name="search_title" style="width:98%"></center></td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-outline-primary">검색</button>
<br><br><br>

<% @count = 0 %>
<h3>검색하신 책이<br></h3>
<% @search_minum.each do |p|%>
<h2><a href="/book/minum"><font color="Salmon"><b><%=p.book_title%> - <%=p.book_writer%> [민음사]</b></font></a>
<br>
<% @count += 1 %>
<% end %>
<% @search_eulyoo.each do |p|%>
<h2><a href="/book/eulyoo"><font color="Orange"><b><%=p.book_title%> - <%=p.book_writer%> [을유 문화사]</b></font></a>
<br>
<% @count += 1 %>
<% end %>
<% @search_munhak.each do |p|%>
<h2><a href="/book/munhak"><h2><font color="gold"><b><%=p.book_title%> - <%=p.book_writer%> [문학동네]</b></font></a>
<br>
<% @count += 1 %>
<% end %>
<% @search_openbooks.each do |p|%>
<h2><a href="/book/openbooks"><h2><font color="SpringGreen"><b><%=p.book_title%> - <%=p.book_writer%> [열린책들]</b></font></a>
<br>
<% @count += 1 %>
<% end %>
<% @search_penguin.each do |p|%>
<h2><a href="/book/penguin"><h2><font color="Turquoise"><b><%=p.book_title%> - <%=p.book_writer%> [펭귄 클래식]</b></font></h2></a>
<% @count += 1 %>
<% end %>
<% if @count > 0 %>
<h3>출판사의 문학전집에 포함되어 있습니다.<br>
<% else %>
<h3>5개 출판사의 전집에 포함되어 있지 않습니다.</h3>
<% end %>
</center>
<br><br><br>
<br><br><br>
<br>
<center>
<footer class="bottom">
    <span class="copyright">Copyright &copy; 영남대 멋쟁이사자처럼 2018</span>
</footer>

</center>